.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 80px;
    height: 60px;
    position: fixed;
    z-index: 2;
    background-color:#ffffff;
    width:100%;
}

.brand-logo a {
    text-decoration: none;
    color: inherit;
    z-index: 9;
    font-size: 2.8rem;
    cursor: pointer;
}

.nav-links {
    display:flex;
}

.nav-links .nav-link {
    list-style: none;
    margin: 0 15px;
}

.nav-links .nav-link a{
    text-decoration: none;
    color: var(--primary-dark-black-blue);
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 800;
    transition: .8s;
}

.nav-links .nav-link a:hover {
    background-color: rgba(0, 0, 0, .1);
    padding: 5px 25px;
    border-radius: 5px;
}

.menu-nav-links {
    position: absolute;
    opacity: 0;
    display: none;
    z-index: -10;
    top:0;
    right:0;
    width: 250px;
    background-color: #ffffff;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.menu-nav-links.show {
    opacity: 1;
    z-index: 1;
    display: flex;
}


.menu-nav-links .closeButton {
    height:80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding:0 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
}

.menu-nav-links .closeButton span {
    font-size: 30px;
    cursor: pointer;
    padding: 0 12px;
    border-radius: 100%;
}

.menu-nav-links span:hover, .menu-nav-links li:hover {
    background: rgba(0, 0, 0, .1);
}

.menu-nav-links li {
    margin: 15px 0;
    list-style: none;
    font-size: 1.7rem;
    padding:6px 0;
    width: 80%;
    transition: .5s;
    border-radius: 12px;
}

.menu-nav-links li a  {
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
}

#overlay {
    display: none;
}

#overlay.show {
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    backdrop-filter: blur(4px);
    z-index: -10;
    background-color: rgba(0, 0, 0, .095);
    display:flex;
}