*{
  margin:0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Gelion Regular", 'sans-serif';
}
:root {
  --primary-blue:#009CDE;
  --primary-deep-blue:#012169;
  --primary-dark-black-blue:#002433;
  --primary-green:#01E068;
  --primary-light-green:#B8FFD8;
  --text-color:#808080;
}

html {
  font-size: 62.5%;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 80px;
  height: 100px;
  position: fixed;
  z-index: 2;
  background-color:#ffffff;
  width:100%;
}

.brand-logo h1 {
  z-index: 9;
  font-family:  'sans-serif';
  font-size: 35px;
}

.nav-links {
  display:inline-flex;
}

.nav-links .nav-link {
  list-style: none;
  margin: 0 15px;
}

.nav-links .nav-link a{
  text-decoration: none;
  color: var(--primary-dark-black-blue);
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 800;
  transition: .8s;
}

.nav-links .nav-link a:hover {
  color: #009CDE;
}

.nav-links .nav-link:nth-of-type(1) a {
  color: var(--primary-blue);
}

.nav-links .nav-link.account a {
  background: transparent;
  padding: 8px 30px;
  border: 2px solid var(--primary-blue);
  border-radius: 8px;
  font-size: 1.6rem;
}

.menu {
  position: absolute;
  display: flex;
  right:0;
  z-index: 8;
}

.menu {
  display: none;
}


@media screen and (max-width:768px) {
  .main-content {
    flex-direction:column;
    height: auto;
  }

  .left {
    width: 100%;
    text-align: center;
    align-items: center;
  }



  .right .right-image1 {
    display: none;
  }

  .right .left-image {
    display:none;
  }

  .right .right-image1 {
    top: 20%;
    right: -40px;
    width: 200px;
    height: 75px;
  }

  .right {
    width: 100%;
    margin-top: 20px;
  }

  .nav-links {
    display: none;
  }


  .nav-links {
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 8;
    background-color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    transition: all .4s ease-in-out;
  }

  .nav-link {
    margin: 20px 0;
  }

  .nav-links.show {
    right: 0;
  }

  .left button {
    padding: 10px 45px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: 2px solid var(--primary-blue);
    color: #fff;
  }

  .left h1 {
    font-size: 3.5rem;
    margin-top: 30px;
  }

  .right .main-image {
    max-width: 500px;
    height: 250px;
  }

  .left p {
    font-size: 1.3rem;
  }
}

main {
  width: 100vw;
  height:80vh;
  position: relative;
  top:100px;
}

main .bgVideo {
  width:100%;
  height:100%;
  object-fit: cover;
}

main .main-content  {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  display: flex;
  align-items:center;
  justify-content: start;
}

.main-content h1 {
  font-size: 40px;
  color: white;
  text-align: left;
}
/*.main-content {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  height: 80vh;*/
/*  min-height: auto;*/
/*}*/

/*.left {*/
/*  width:50%;*/
/*  display: flex;*/
/*  align-items: flex-start;*/
/*  justify-content: start;*/
/*  flex-direction: column;*/
/*}*/

/*.left h1 {*/
/*  font-size: 5.6rem;*/
/*  font-weight: bolder;*/
/*  color: var(--primary-dark-black-blue);*/
/*}*/

/*.left h1 span {*/
/*  color: var(--primary-blue);*/
/*}*/

/*.left p {*/
/*  color: var(--text-color);*/
/*  font-size: 1.6rem;*/
/*  font-weight: 100;*/
/*  margin: 30px 0;*/
/*}*/

/*.left button {*/
/*  background-color: #009CDE;*/
/*  padding: 10px 45px;*/
/*  font-size: 1.6rem;*/
/*  border-radius: 8px;*/
/*  border: 2px solid var(--primary-blue);*/
/*  color: #fff;*/
/*}*/

/*.right {*/
/*  width: 45%;*/
/*  height: 80%;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.right img {*/
/*  position: absolute;*/
/*}*/

/*.right .main-image {*/
/*  width: 100%;*/
/*  left: 0;*/
/*  right: 0;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  z-index: 2;*/
/*}*/

/*.right .elipse {*/
/*  top: -20px;*/
/*  left:30%;*/
/*  width: 200px;*/
/*  z-index: 1;*/
/*}*/

/*.right .left-image {*/
/*  top:60%;*/
/*  left:-40px;*/
/*  z-index: 3;*/
/*  height: 95px;*/
/*  width: 250px;*/
/*}*/

/*.right .right-image1 {*/
/*  top:20%;*/
/*  right:-55px;*/
/*  z-index: 3;*/
/*  height: 95px;*/
/*  width: 250px;*/
/*}*/

/*.right .right-image2 {*/
/*  top:80%;*/
/*  height: 95px;*/
/*  right:-58px;*/
/*  width: 250px;*/
/*  z-index: 3;*/
/*}*/




/*@media screen and (min-width:1800px) {*/
/*  .right .elipse {*/
/*    display: none;*/
/*  }*/

/*  .nav-link.account a{*/
/*    margin-left: 40vw;*/
/*  }*/

/*  .right .main-image {*/
/*    height: 100%;*/
/*    min-height: 400px;*/
/*  }*/

/*  .right .right-image1 {*/
/*    display: none;*/
/*  }*/

/*  .right .left-image {*/
/*    top: 20%;*/
/*  }*/

/*  .right .right-image2 {*/
/*    top: 40%;*/
/*  }*/
/*}*/

/*@media screen and (max-width:1300px) {*/
/*  .left h1 {*/
/*    font-size: 4rem;*/
/*  }*/

/*  .right .elipse {*/
/*    display: none;*/
/*  }*/

/*  .right .right-image1 {*/
/*    display: none;*/
/*  }*/

/*}*/



/*@media screen and (max-width:768px) {*/
/*  .main-content {*/
/*    flex-direction:column;*/
/*  }*/

/*  .left h1 {*/
/*    font-size: 4.2rem;*/
/*  }*/

/*  .elipse {*/
/*    display: none;*/
/*  }*/

/*  .right .left-image, .right .right-image1,  .right .right-image2  {*/
/*    display: none;*/
/*  }*/
/*}*/


/*main {*/
/*  height: 100vh;*/
/*  width: 100vw;*/
/*  position: relative;*/
/*}*/

/*.main-content {*/
/*  width: 100%;*/
/*  position: relative;*/
/*  top:12vh;*/
/*  height: 80vh;*/
/*}*/

/*.main-content .bgVideo{*/
/*  --webkit-width:100vw;*/

/*}*/

/*.main-content h1 {*/
/*  font-size: 30px;*/
/*  text-align: left;*/
/*  color: green;*/
/*}*/

